@import url('https://fonts.googleapis.com/css2?family=Anton&family=Karla:ital,wght@0,300;1,200&family=Lobster&family=Montserrat:wght@200;600&family=Poppins:wght@200;300&family=Roboto:wght@100;300;400&family=Ubuntu:wght@300;500&family=Work+Sans:wght@300&display=swap');




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  /* background-color: #121212; */
}